<div class="horizontal-menu">
  <nav class="navbar top-navbar">
    <div class="container">
      <div class="navbar-content">

        <!--- Logo -->
        <a routerLink="/" class="navbar-brand">
          Freelance<span>Manage</span>
        </a>

        <!-- <a routerLink="/" class="navbar-brand">
          <img src="assets/images/logo.png" alt="logo">
        </a> -->

        <!-- Logo-mini for small screen devices (mobile/tablet) -->
        <div class="logo-mini-wrapper">
          <img src="images/logo-mini-light.png" class="logo-mini logo-mini-light" alt="logo">
          <img src="images/logo-mini-dark.png" class="logo-mini logo-mini-dark" alt="logo">
        </div>

        <form class="search-form">
          <div class="input-group">
            <div class="input-group-text">
              <i class="feather icon-search"></i>
            </div>
            <div class="card-body">

              <ng-select [items]="people" bindLabel="username" bindValue="id" [hideSelected]="true"
                [(ngModel)]="customTemplateSelectedPeople" (change)="onFreelancerSelected($event)"
                placeholder="Search freelancers...">

                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">
                    <img [src]="getFreelancerImage(item.id) || 'https://placehold.co/30x30' " width="20px" height="20px"
                      style="border-radius: 50%;">
                    {{item.username}}
                  </span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </ng-template>

                <ng-template ng-option-tmp let-item="item">
                  <div class="d-flex align-items-center">
                    <img [src]="getFreelancerImage(item.id)" width="30px" height="30px"
                      style="border-radius: 50%; margin-right: 10px;">
                    <div>
                      <div>{{item.username}}</div>
                    </div>
                  </div>
                </ng-template>
              </ng-select>


            </div>
          </div>
        </form>

        <ul class="navbar-nav">
          <li class="theme-switcher-wrapper nav-item">
            <input type="checkbox" (change)="onThemeCheckboxChange($event) " value="" id="theme-switcher">
            <label for="theme-switcher">
              <div class="box">
                <div class="ball"></div>
                <div class="icons">
                  <i class="feather icon-sun"></i>
                  <i class="feather icon-moon"></i>
                </div>
              </div>
            </label>
          </li>

          <!-- In your navbar component -->

          <!-- notification.component.html -->
          <li class="nav-item nav-notifications" ngbDropdown (show)="loadNotifications()">
            <a class="nav-link" ngbDropdownToggle id="notificationDropdown">
              <i class="link-icon feather icon-bell"></i>
              <div class="indicator">
                <div class="circle" *ngIf="unreadCount > 0">{{ unreadCount }}</div>
              </div>
            </a>
            <div ngbDropdownMenu class="px-0" aria-labelledby="notificationDropdown">
              <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                <p>{{ notifications.length }} New Notifications</p>
                <a href="javascript:void(0)" (click)="markAllAsRead()" class="text-secondary">Clear all</a>
              </div>
              <div class="p-1">
                <a href="javascript:void(0)" *ngFor="let notification of notifications"
                  class="dropdown-item d-flex align-items-center py-2" (click)="markAsRead(notification.id)">
                  <div
                    class="w-30px h-30px d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                    <i class="feather icon-info icon-sm text-white"></i>
                  </div>
                  <div class="flex-grow-1 me-2">
                    <p>{{ notification.subject }}</p>
                    <p class="fs-12px text-secondary">{{ notification.message }}</p>
                    <p class="fs-10px text-muted">{{ notification.createdAt | timeAgo }}</p>
                  </div>
                </a>
                <div *ngIf="notifications.length === 0" class="text-center py-2">
                  No new notifications
                </div>
              </div>
              <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                <a routerLink="/notifications">View all</a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-profile" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle id="profileDropdown">
              <img class="w-30px h-30px ms-1 rounded-circle" [src]="getUserImageUrl()" alt="profile">
            </a>
            <div ngbDropdownMenu class="px-0" aria-labelledby="profileDropdown">
              <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
                <div class="mb-3">
                  <img class="w-80px h-80px rounded-circle" [src]="getUserImageUrl()" alt="">
                </div>
                <div class="text-center">
                  <p class="tx-16 fw-bolder">{{username}}</p>
                  <p class="fs-12px text-secondary">{{email}}</p>
                </div>
              </div>
              <ul class="list-unstyled p-1">
                <li>
                  <a [routerLink]="'/profile/' + currentUserId" class="dropdown-item py-2 d-flex ms-0">
                    <i class="feather icon-user me-2 icon-md"></i>
                    <span>Profile</span>
                  </a>
                </li>

                <li>
                  <a href="" (click)="onLogout($event)" class="dropdown-item py-2 d-flex ms-0">
                    <i class="feather icon-log-out me-2 icon-md"></i>
                    <span>Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <!-- Navbar-menu-toggler on small devices (mobile/tablet) -->
        <div data-toggle="horizontal-menu-toggle" class="navbar-toggler d-lg-none align-self-center"
          (click)="toggleHeaderMenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>
    </div>
  </nav>

  <nav class="bottom-navbar">
    <div class="container">

      <!--- Menu -->
      <ul class="nav page-navigation">
        @for (item of menuItems; track item.label) {

        <!-- Nav item with a mega menu -->
        @if (item.isMegaMenu) {
        <li class="nav-item mega-menu" [routerLinkActive]="['active']" #navItemMegaMenu
          (click)="toggleSubmenuOnSmallDevices(navItemMegaMenu)"
          [ngClass]="{'show-submenu': currentlyOpenedNavItem === navItemMegaMenu}">
          <a href="javascript:void(0);" class="nav-link">
            @if (item.icon) {
            <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
            }
            <span class="menu-title">{{ item.label }}</span>
            <i class="link-arrow"></i>
          </a>
          <div class="submenu">
            <div class="row">
              @for (subMenu of item.subMenus; track $index) {
              <div class="col-md-3">
                <ul class="submenu-item">
                  @for (subMenuItem of subMenu.subMenuItems; track subMenuItem.label) {
                  @if (subMenuItem.isTitle) {
                  <li class="category-heading">{{ subMenuItem.label }}</li>
                  }
                  @else {
                  <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link">{{
                      subMenuItem.label }}</a>
                  </li>
                  }
                  }
                </ul>
              </div>
              }
            </div>
          </div>
        </li>
        }

        <!-- Nav item with no mega menu -->
        @else {
        <li class="nav-item" [routerLinkActive]="['active']" #navItem (click)="toggleSubmenuOnSmallDevices(navItem)"
          [ngClass]="{'show-submenu': currentlyOpenedNavItem === navItem}">

          <!-- Nav link with a submenu -->
          @if (hasItems(item)) {
          <a href="javascript:void(0);" class="nav-link">
            @if (item.icon) {
            <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
            }
            <span class="menu-title">{{ item.label }}</span>
            <i class="link-arrow"></i>
          </a>
          <div class="submenu">
            @for (subMenu of item.subMenus; track $index) {
            <ul class="submenu-item">
              @for (subMenuItem of subMenu.subMenuItems; track subMenuItem.label) {
              @if (subMenuItem.isTitle) {
              <li class="category-heading">{{ subMenuItem.label }}</li>
              }
              @else {
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link">{{ subMenuItem.label
                  }}</a>
                @if (subMenuItem.badge) {
                <span class="badge bg-{{subMenuItem.badge.variant}}">{{subMenuItem.badge.text}}</span>
                }
              </li>
              }
              }
            </ul>
            }
          </div>
          }

          <!-- Nav link with no submenu  -->
          @else {
          <a class="nav-link" [routerLink]="item.link">
            @if (item.icon) {
            <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
            }
            <span class="menu-title">{{ item.label }}</span>
          </a>
          }

        </li>
        }

        }


      </ul>
    </div>
  </nav>
</div>