.review-list {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 8px;
}


.review-list::-webkit-scrollbar {
    width: 6px;
}

.review-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.review-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.review-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}