<div class="container">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(/image.jpg)' }">
            </div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="nobleui-logo d-block mb-2">Freelance<span>Manage</span></a>
              <h5 class="text-secondary fw-normal mb-4">Create a free account.</h5>
              <form class="forms-sample">
                <div class="mb-3">
                  <label for="exampleInputUsername1" class="form-label">Username</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username"
                    [(ngModel)]="username" name="username" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                    [(ngModel)]="email" name="email" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password"
                    placeholder="Password" [(ngModel)]="password" name="password" required>
                </div>

                <!-- Account Type Selection -->
                <div class="mb-3">
                  <label class="form-label">Account Type</label><br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="freelancer" name="role" value="ROLE_FREELANCER"
                      [(ngModel)]="role" />
                    <label class="form-check-label" for="freelancer">Freelancer</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="client" name="role" value="ROLE_CLIENT"
                      [(ngModel)]="role" />
                    <label class="form-check-label" for="client">Client</label>
                  </div>
                </div>

                <!-- Display Error Message -->
                <div *ngIf="errorMessage" class="text-danger mb-3">
                  {{ errorMessage }}
                </div>

                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onRegister($event)">Sign
                    up</button>

                </div>
                <a routerLink="/auth/login" class="d-block mt-3 text-secondary">Already a user? Sign in</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>